* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Poppins', sans-serif;
}

body {
  background: rgb(228, 228, 228);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1.5rem 0;
  background: blueviolet;
  color: white;
}

header nav ul {
  display: flex;
  gap: 1rem;
}

header nav ul a {
  display: flex;
  gap: 1rem;
  color: white;
}

section {
  margin: 0 auto;
  padding: 4rem;
  width: 960px;
  max-width: 100%;
  text-align: justify;
}

section h1 {
  text-align: center;
  margin-bottom: 3rem;
  font-weight: 800;
  font-size: 2rem;
}

section h2 {
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  font-weight: 700;
}

section h3 {
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-weight: 600;
}

section p {
  line-height: 1.7;
}

section img {
  width: 100%;
  min-height: 60%;
  margin: 0 auto;
  margin-bottom: 1rem;
  margin-top: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.5);
  display: block;
}
